---
import Layout from "@layouts/Layout.astro"
---

<Layout title="e29 | Agenda">
  <main class="min-h-full p-2 sm:p-10 w-full flex flex-col items-start">
    <!-- Header -->
    <h1
      class="text-6xl sm:text-8xl text-gray-900 font-eina01 font-semibold pt-4 pb-8 sm:pt-20 sm:pb-40 w-full"
    >
      Agenda
    </h1>
    <section class="grow w-full"></section>
  </main>
</Layout>
