---
import Layout from "@layouts/Layout.astro"
import PageTopLayout from "@layouts/PageTopLayout.astro"
---

<Layout title="e29 | Agenda">
  <main class="min-h-full w-full flex flex-col items-start">
    <PageTopLayout title="Agenda" />
  </main>
</Layout>
