---
export const prerender = false
import Layout from "../layouts/Layout.astro"
import Button from "../components/ui/button/Button.astro"
import { ContactForm } from "@components/contact/ContactForm"
---

<Layout title="e29 | Contact">
  <main class="flex min-h-full w-full flex-col items-start">
    <section class="mx-auto w-full max-w-7xl px-2 sm:px-10">
      <h1
        class="font-eina01 w-full py-6 text-4xl font-semibold text-gray-900 sm:py-14 sm:text-5xl"
      >
        Contact
      </h1>
      <ContactForm />
    </section>
  </main>
</Layout>
