---
import Layout from "@layouts/Layout.astro"
import PageTopLayout from "@layouts/PageTopLayout.astro"
---

<Layout title="e29 | Accueil">
  <main class="min-h-full w-full flex flex-col items-start">
    <PageTopLayout title="Espace29" />
    <section class="grow w-full"></section>
  </main>
</Layout>
