---
import Layout from '@layouts/Layout.astro'
import PageTopLayout from '@layouts/PageTopLayout.astro'
---

<Layout title="e29 | Accueil">
  <main class="flex min-h-full w-full flex-col items-start">
    <PageTopLayout title="Espace29" />
    <section class="w-full grow"></section>
  </main>
</Layout>
