---
import Icon from "@components/ui/icons/Icon.astro"
import Layout from "@layouts/Layout.astro"
import PageTopLayout from "@layouts/PageTopLayout.astro"
---

<Layout title="e29 | Infos">
  <main class="flex min-h-full w-full flex-col items-start">
    <PageTopLayout>Infos</PageTopLayout>
    <section
      class="flex w-full grow flex-col gap-6 px-2 pb-4 sm:flex-row sm:px-10 sm:pb-10"
    >
      <div class="flex-3">
        <!-- L'Espace29 -->
        <div class="border border-gray-200 bg-gray-50 p-6">
          <h2 class="font-eina02 mb-6 text-3xl font-semibold text-gray-900">
            L'Espace29
          </h2>
          <p class="font-eina03 text-lg leading-relaxed text-gray-700">
            L'espace 29, situé dans le quartier de Gambetta-Meriadeck, qui
            ouvrit ses portes en 2006, est un lieu d'art contemporain de 800 m².
            Sa forme hybride y accueille depuis lors de nombreux événements
            artistiques et culturels, soutenus par une tout aussi importante
            diversité d'artistes qui témoignent d'un lieu transdisciplinaire et
            métamorphe, dont la structure et la logique du lieu varient en
            fonction des spécificités de chaque projet. C'est avant tout une
            plateforme de rencontre et d'échange entre artistes professionnels,
            mais aussi avec le public accueilli lors des événements ainsi que
            diverses associations, écoles, collectifs, etc. Ce lieu met en ava
            la communication et la collaboration entre divers pôles artistiques,
            institutions ou personnalités, en proposant un espace neutre
            favorable au développement de nouvelles idées et projets.
          </p>
          <p class="font-eina03 mt-6 text-lg font-semibold text-gray-900">
            Entrée libre lors des expositions (se renseigner sur les horaires
            d'ouverture). Hors exposition, l'Espace29 est fermé au public. Pour
            nous rencontrer, rendez-vous via notre mail.<br />
            L'espace d'exposition est accessible aux personnes à mobilité réduite.
          </p>
        </div>

        <!-- Les ateliers -->
        <div class="border border-gray-200 bg-gray-50 p-6">
          <h2 class="font-eina02 mb-6 text-3xl font-semibold text-gray-900">
            Les ateliers
          </h2>
          <p class="font-eina03 text-lg leading-relaxed text-gray-700">
            L'Espace29 accueille aujourd'hui une trentaine d'artistes divisés en
            plusieurs ateliers, aux dimensions variables en fonction des besoins
            et pratiques de chacun.e, et répartis sur deux étages. Ce sont des
            espaces de création où les artistes viennent développer leurs
            pratiques, mais également échanger entre eux, partager des espaces
            de vie commune, s'entre-inspirer et enfin proposer des projets en
            communs, collaborer. L'espace 29 défend une volonté
            transdisciplinaire et accueille des artistes aux spectres de
            production large, incluant au maximum toutes les formes
            d'expressions artistiques, contemporaine, traditionnelle ou
            conceptuelle ; visuelle, plastique et vivante, prônant un respect et
            une équité entre les disciplines, pour que toutes puissent
            s'exprimer de la même manière.
          </p>
        </div>

        <!-- Les expositions -->
        <div class="border border-gray-200 bg-gray-50 p-6">
          <h2 class="font-eina02 mb-6 text-3xl font-semibold text-gray-900">
            Les expositions
          </h2>
          <p class="font-eina03 text-lg leading-relaxed text-gray-700">
            Au rez-de-chaussée, une salle modulable accueille les divers
            événements. Les expositions, performances sonores, marchés
            associatifs(...) qui ont lieu, sont programmés par l'Espace29 et
            tendent à mettre en avant de manière équitable à la fois des
            artistes émergents extérieurs, autant que les artistes résidents de
            l'Espace29, permettant ainsi une confrontation heuristique entre
            l'art contemporain et les pratiques de chacun.e. Ces propositions
            répondent aux questionnements esthétiques, politiques et artistiques
            actuels. C'est un lieu d'expérimentation où des artistes nationaux
            et internationaux coévoluent dans des sensibilités
            extra-frontalières où les normes ne sont jamais acquises et toujours
            remises en question, un espace de convergence des luttes sociales,
            raciales, écologiques, féministes, de genres, où l'engagement n'est
            pas une honte mais une nécessité d'expression qui se manifeste par
            l'art.
          </p>
          <p class="font-eina03 mt-4 text-lg leading-relaxed text-gray-700">
            Notre direction artistique porte sur des sujets de sociétés actuels,
            incluant des visions d'artistes ayant un regard vif sur
            l'historicité des événements, sur les choses qui existent depuis
            toujours, traversent l'histoire et s'actualisent encore de nos jours
            et qui forment les archétypes d'une création jeune mais aussi mature
            et plus établie, toutes deux engagées dans l'essor d'une création
            nouvelle et sensible au futur. Les expositions sont des moments de
            dialogue et de médiation qui témoignent de cette esthétique d'une
            pensée fluide.
          </p>
        </div>
      </div>
      <!-- Contact -->
      <div class="flex-1 border border-gray-200 bg-gray-50 p-6">
        <h2 class="font-eina02 mb-6 text-3xl font-semibold text-gray-900">
          Contact
        </h2>
        <div class="space-y-6">
          <div>
            <h3 class="font-eina03 mb-2 text-lg font-semibold text-gray-900">
              Administration
            </h3>
            <p class="font-eina03 text-lg text-gray-700">Eloïse Coussy</p>
            <p class="font-eina03 text-lg text-gray-700">Héléna Coussy</p>
            <p class="font-eina03 text-lg text-gray-700">Lucie</p>
            <p class="font-eina03 text-lg text-gray-700">Mario Sardo</p>
            <a
              href="mailto:espace29@gmail.com"
              class="font-eina03 text-lg text-gray-700 underline transition-colors hover:text-gray-900 hover:no-underline"
              >espace29@gmail.com</a
            >
          </div>
          <h3 class="font-eina03 mb-2 text-lg font-semibold text-gray-900">
            Réseaux sociaux
          </h3>
          <div class="mb-2 flex gap-2">
            <Icon name="instagram" class="h-6 w-6" />
            <a
              href="https://www.instagram.com/espace29_bx/"
              class="font-eina03 text-lg text-gray-900 transition-colors hover:text-gray-700"
              >espace29_bx</a
            >
          </div>
          <div class="flex gap-2">
            <Icon name="facebook" class="h-6 w-6" />
            <a
              href="https://www.facebook.com/p/Espace-29-100063568931402/"
              class="font-eina03 text-lg text-gray-900 transition-colors hover:text-gray-700"
              >espace29</a
            >
          </div>
          <h3 class="font-eina03 mb-2 text-lg font-semibold text-gray-900">
            Adresse
          </h3>
          <p class="font-eina03 text-lg text-gray-700">
            29 rue Fernand Marin<br /> 33000 Bordeaux
          </p>

          <div class="border-t border-gray-200 pt-6">
            <div class="mb-4">
              <h3 class="font-eina03 mb-2 text-lg font-semibold text-gray-900">
                Textes
              </h3>
              <p class="font-eina03 text-lg text-gray-700">Clément Houbart</p>
            </div>
            <div class="mb-4">
              <h3 class="font-eina03 mb-2 text-lg font-semibold text-gray-900">
                Webdesign
              </h3>
              <p class="font-eina03 text-lg text-gray-700">Mario Sardo</p>
            </div>
            <div class="mt-12">
              <a
                href="/mentions-legales"
                class="font-eina03 text-lg font-semibold text-gray-900 transition-colors hover:text-gray-700"
                >Mentions légales</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
